$colors: (
    primary:#4B13B6,
    primary-light: #4C0ACC,
    secondary: #FFA602,
    light: #ffffff,
    error: #FF4934,
    light-error: #BA2D92,
    dark: #000000,
    text: #707070,
    border: #FFFFFF66,
    gray: #A3A3A3,
);