.nav-dropdown {
    position: absolute;
    top: 100%;
    #{$start}: 50%;
    display: block;
    visibility: hidden;
    opacity: 0;
    transition: .5s;
    z-index: 5;
    div {
        padding-top: .9rem;
        ul {
            background: get-color(light);
            border-top: 4px solid get-color(secondary);
            box-shadow: 0px 10px 6px #00000029;
            li {
                border-bottom: 1px solid get-color(gray);
                padding: .3rem 1.2rem;
                text-align: center;
                a {
                    white-space: nowrap;
                    color: get-color(dark);
                    @include font(
                        $size: .9rem,
                        $weight: bold,
                        $transform: capitalize,
                        $family: 'Sitka Small',
    
                    );
                    transition: .5s;
                    &:hover {
                        color: get-color(error);
                        transition: .5s;
                    }
                }
            }
        }
    }
}